In [2]:
import pandas as pd
from pathlib import Path

# Xác định đường dẫn tới file parquet
parquet_path = Path("../src/rag/data/clean_guardian_articles.parquet")

# Đọc file parquet
df = pd.read_parquet(parquet_path)

# Xem tổng quan
print(f"✅ Loaded {len(df)} rows and {len(df.columns)} columns.")
df.head(3)

✅ Loaded 9837 rows and 8 columns.

,article_id,title,headline,summary,content,published_at,section,authors
0,sport/live/2025/oct/26/new-zealand-v-england-f...,New Zealand v England: first men’s ODI – live,New Zealand v England: first men’s ODI – live,Over-by-over report: Join our writers for upda...,7.15am GMT 33rd over: New Zealand 191-5 (Mitch...,2025-10-26 07:15:52+00:00,Sport,"simon burnton and rob smyth (earlier), taha ha..."
1,sport/live/2025/oct/26/england-v-new-zealand-w...,England v New Zealand: Women’s Cricket World C...,England v New Zealand: Women’s Cricket World C...,Over-by-over report: Join our writers for upda...,7.13am GMT 26th over: New Zealand 118-4 (Devin...,2025-10-26 07:13:24+00:00,Sport,tanya aldred (now) and james wallace (later)
2,money/2025/oct/26/crash-for-cash-insurance-fra...,‘Crash for cash’: moped riders target your ins...,‘Crash for cash’: moped riders target your ins...,Fraudulent insurance policies are being taken ...,You are sitting in the car at a junction waiti...,2025-10-26 07:00:56+00:00,Money,shane hickey